<table width="100%" border="0" cellpadding="4" cellspacing="1">
 <tr>
  <td><center><u><b>[discription]</b></u></center></td>
 </tr>
</table>
<table width="100%" border="0" cellpadding="4" cellspacing="1">
 <tr>
  <br>
   <code><div align="center"><div class="viewerbox">
   &lt;iframe width="[width]" height="[height]" frameborder="0" allowtransparency="true" style="border:0px solid #;" scrolling="auto" name="map_viewer" src="[view_path]?id=[server_id]&sc=[safety_code]"&gt;&lt;p&gt;[note]&lt;a href="[view_path]?id=[server_id]&sc=[safety_code]">Mumb1e Admin Plugin&lt;/a&gt;&lt;/p&gt;&lt;/iframe&gt;
   </div></div></code>
  </br>
 </tr>
</table>
<table width="100%" border="0" cellpadding="4" cellspacing="1">
 <tr>
  <td><center><u><b><br>[example_head]</br></b></u></center></td>
 </tr>
 <tr>
  <td><center><p>[example_text1]</p></center></td>
 </tr>
 <tr>
  <td><center><p><b>[example_text2]</b></p></center></td>
 </tr>
 <tr>
  <td><center><p>[example_text3]</p></center></td>
 </tr>
</table>