<table cellpadding="4" cellspacing="1">
  <tr>
	 <td width="150px">[background_head]</td>
	 <td>#<input type="text" size="6" maxlength="6" name="background" value="[background_value]" class="input"></td>
	 <td>[background_discribtion]</td>
  </tr>
  <tr>
	 <td width="150px">[font_colour_head]</td>
	 <td>#<input type="text" size="6" maxlength="6" name="font_colour" value="[font_colour_value]" class="input"></td>
	 <td>[font_colour_discribtion]</td>
  </tr>
  <tr>
	 <td width="150px">[width_head]</td>
	 <td><input type="text" size="8" maxlength="4" name="width" value="[width_value]" class="input"></td>
	 <td>[width_discribtion]</td>
  </tr>
  <tr>
	 <td width="150px">[height_head]</td>
	 <td><input type="text" size="8" maxlength="4" name="height" value="[height_value]" class="input"></td>
	 <td>[height_discribtion]</td>
  </tr>
  <tr>
	 <td width="150px">[external_on_head]</td>
	 <td width="197px"><input type="checkbox" name="external_on" value="1" class="checkbox"[external_on_value]></td>
	 <td>[external_on_discribtion]</td>
  </tr>
  <tr>
	 <td width="150px">[safety_code_head]</td>
	 <td><input type="text" size="24" maxlength="50" name="safety_code" value="[safety_code_value]" class="input"></td>
	 <td>[safety_code_discribtion]</td>
  </tr>
</table>
<table cellpadding="4" cellspacing="1">
  <tr>
     <td><input type="hidden" name="server_id" value="[server_id]"></td>
  </tr>
 <form>
</table>