<table width="100%" border="0" cellpadding="4" cellspacing="1">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="4" cellspacing="1">
    <tr>
     <td>
      <div align="left"><div class="viewer">[channel_tree]</div></div>
     </td>
    </tr>
   </table> 
  </td>
  <td>
   <table width="100%" border="0" cellpadding="4" cellspacing="1">
    <tr>
     <td>
      <div><u><b>[action_head]</b></u></div>
     </td>
    </tr> 
    <tr>
     <td>
      <div>[include]</div>
     </td>
    </tr> 
    <tr>
     <td>
      <div>[view_config]</div>
     </td>
    </tr>
   </table>  
  </td>
 </tr>
</table>